
.menu{
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.menu button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.menu button:hover{
    background-color: #ddd;
}

.menu button.active {
    background-color: #ccc;
}

.choices-content {
    /*display: none;*/
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top:none ;
}

/********************************* sidebar *********************************/

.dashboard {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px; /* Place content 20px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

.dashboard a{
    font-size: 20px;
    margin-left: 20px;
    color: #dddddd;
    cursor: pointer;
}

/* *** tooles *** */
.board-tools{
    overflow: hidden;
    position: fixed;
    display: none;
    width: 200px;
    background-color: rgba(59, 56, 56, 0.73);
    padding: 5px;
    margin: 10px;
    border-radius: 20px;
    transition: 0.7s;
    color: #818181;
}

/*.dashboard .addbtn {*/
/*    color: #46786c;*/
/*}*/
/*.dashboard .selectAllbtn{*/
/*    color: #806d12;*/
/*}*/
/*.dashboard .closebtn {*/
/*    color: #a50069;*/
/*}*/

.dashboard .addbtn:hover{
  color: #24c19a;
}
.dashboard .selectAllbtn:hover{
    color: #e2bc29;
}
.dashboard .deselectAllbtn:hover{
    color: #99c718;
}
.dashboard .closebtn:hover{
    color: #ff003b;
}

/* IMG */
.img-row {
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
    padding-top: 50px;
}
.img-row .column {
    flex: 20%;
    padding: 2px;
}
.img-row .column .myImg {
    width: 95%;
    border: 2px solid #cccccc;
}
.img-row .column .selectedImg {
    width: 95%;
    border: 2px solid #ff0000;
}

#main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .dashboard {padding-top: 15px;}
    .dashboard a {font-size: 10px;}
}
/********************************* fin sidebar *********************************/

/*canvas {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    border: 1px solid #818181;*/
/*}*/
#Workshop{
    width: 94.8%;
    height: 85%;
    position: fixed;
}

#cy{
    overflow: hidden;
    width: 100%;
    height: 100%;
    /*left: 0;*/
    /*top: 0;*/
    position: relative;
    border: 2px solid #c60000;
}
