* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* # The Main Menu */
.menu {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.menu button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 16px;
}

.menu button:hover {
    background-color: #ddd;
}

.menu button.active {
    background-color: #ccc;
}

.choices-content {
    position: relative;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    display: none;
}

/********************************* sidebar *********************************/

.dashboard {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px; /* Place content 20px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

.dashboard a {
    font-size: 20px;
    margin-left: 20px;
    color: #dddddd;
    cursor: pointer;
}

/* ********** Dashboard Tools ********** */
.board-tools {
    overflow: hidden;
    position: fixed;
    display: none;
    width: 200px;
    background-color: rgba(59, 56, 56, 0.73);
    padding: 5px;
    margin: 10px;
    border-radius: 20px;
    transition: 0.7s;
    color: #818181;
}

.dashboard .addbtn:hover {
    color: #24c19a;
}

.dashboard .selectAllbtn:hover {
    color: #e2bc29;
}

.dashboard .deselectAllbtn:hover {
    color: #99c718;
}

.dashboard .closebtn:hover {
    color: #ff003b;
}

.no-img-info {
    color: rgba(198, 198, 198, 0.86);
    font-size: 16px;
    padding: 2px;
    margin: 2px;
    font-family: Monospace;
    text-align: center;
}

/* IMG */
.img-row {
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
    padding-top: 50px;
}

.img-row .column {
    flex: 20%;
    padding: 2px;
    /*cursor: pointer;*/
}

.img-row .column .myImg {
    width: 95%;
    border: 2px solid #cccccc;
    cursor: pointer;
}

.img-row .column .selectedImg {
    width: 98%;
    box-shadow: 0 0 2px 1px #77ff00;
    border: 2px solid #cccccc;
    cursor: pointer;
}

.img-row .column img:hover {
    width: 98%;
    /*opacity: 0.8;*/
}

#main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
}

@media screen and (max-width: 700px) {
    /*.dashboard {*/
    /*    width: 100px;*/
    /*    padding-top: 15px;*/
    /*}*/

    .dashboard .board-tools {
        width: 50px;
        text-align: center;
        justify-items: left;
    }

    /*.img-row {*/
    /*    margin-top: 90px;*/
    /*    display: block;*/
    /*}*/
    /*.column img {*/
    /*    float: none;*/
    /*    width: 100%;*/
    /*}*/

    .menu button {
        width: 100%;
    }
}

/*@media screen and (min-width: 600px) {*/
/*    .dashboard {*/
/*        width: 250px;*/
/*    }*/
/*}*/
/*@media screen and (max-width: 600px) {*/

/*    .dashboard {*/
/*        width: 100px;*/
/*        padding-top: 15px;*/
/*    }*/

/*    .dashboard .board-tools {*/
/*        width:60px;*/
/*        padding: 1px;*/
/*        text-align: center;*/
/*    }*/

/*    .dashboard .img-row {*/
/*        display : block;*/
/*    }*/
/*    .dashboard a {*/
/*        font-size: 10px;*/
/*        margin-left: 0;*/
/*    }*/
/*    !*.dashboard img{*!*/
/*    !*    float: none;*!*/
/*    !*    width: 100%;*!*/
/*    !*}*!*/
/*}*/

/********************************* the end of sidebar *********************************/

#Workshop {
    width: 100%;
    height: 85%;
    /*position: fixed;*/
}

#load-graph {
    text-align: center;
    font-size: 32px;
    position: relative;

}

.load-graph-btn {
    text-decoration: none;
    border: none;
    background-color: #24c19a;
    font-size: 32px;
    border-radius: 15px;
    padding: 1px 7px;
    cursor: pointer;
    color: #ffffff;
}

.load-graph-btn:hover {
    /*opacity: 0.7;*/
    color: #24c19a;
    background-color: #ffffff;
}

#new-graph {
    width: 100%;
    height: 100%;
    display: none;
}

#cy {
    overflow: hidden;
    width: 100%;
    height: 100%;
    /*left: 0;*/
    /*top: 0;*/
    position: static;
    border: 2px solid rgba(4, 33, 97, 0.97);
}


/********* SAVING... ******/

.saving {
    text-align: center;
}

.open-save {
    margin: 10px;
    font-size: 20px;
    color: #ffe4e4;
    background-color: #a10218;
    border: none;
    padding: 7px;
    border-radius: 10%;
    cursor: pointer;
}

.open-save:hover {
    background-color: #e81a33;
}

.save-list {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    /*padding-top: 20%;*/
}

.save-ele {
    background-color: rgba(83, 77, 77, 0.73);
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    border-radius: 5px;
}

.saving-titel {
    color: #dddddd;
    float: left;
    padding: 10px 15px;
    margin: 8px 0 15px 8px; /* top right bottom left */
}

.close {
    color: #aaaaaa;
    float: right;
    margin: 14px 15px 20px 0px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover {
    color: red;
    cursor: pointer;
}

input {
    font-size: 20px;
    width: 90%;
    padding: 10px 15px;
    margin: 8px 0 15px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.save-ele button {
    padding: 2px;
    margin-bottom: 10px;
    margin-right: 6px;
    font-size: 20px;
    color: rgba(83, 77, 77, 0.73);
    background-color: rgba(255, 255, 255, 0.71);
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.save-ele button:hover {
    background-color: rgba(255, 255, 255, 0.92);
}
